/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

#footer {
  padding: 0 0 30px 0;
  font-size: 14px;
  background: #fff;

}



#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #e62e00;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  align-self: center;
}

#footer .footer-top .social-links a:hover {
  background: #ff5c33;
  color: #fff;
}

#footer .copyright {
  text-align: center;
  padding-top: 30px;
  color: #535074;
  font-size: 15px;
}

#footer .credits {
  text-align: center;
  font-size: 14px;
  padding-top: 4px;
  color: #8582a8;
}

#footer .credits a {
  color: #ff5c33;
}

#footer .credits a:hover {
  color: #ff5c33;
}